<nav>
    <div class="sidebarBlock">
        <h5 class="sidebarBlock-heading">Categories</h5>
            <ul class="navlist">
                {{#each categories}}
                    <li class="navList-item">
                        <a class="navList-action{{#if selected }} is-active{{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
    </div>
    

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{/if}}
</nav>
